// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$green: #32B796;
$charcoal: #2e4057;

// $blue: #0F1C70;
// $yellow: #FDB631;
// $orange: #E67E22;

// $gray: #000000;
// $light-gray: #F4F4F4;
// $dark-gray: #333333;
// $cream: #f6d8ae;
// $aubergine: #512501;
