// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:400,100,300,700,500");
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

// Define fonts for body and headers
$main-title-font: 'Shadows Into Light',
'cursive';
$body-font: 'Raleway',
'sans-serif';
$header-font: 'Barrel';

@font-face {
  font-family: "Barrel";
  src: url(asset-path('barrel.ttf')) format("truetype");
}
