<div class="container container-cocktails-new">
  <div class="row">
    <div class="col-lg-6 mx-auto devise-form-centered">
      <div class="form-all">
        <h2>Edit cocktail</h2>
        <%= @cocktail.name %>
        <%= render 'cocktail_new_form' %>
      </div>
    </div>
  </div>
</div>
