<div class="container-cocktails-new">
    <%= link_to 'Back', cocktails_path, class: " back btn btn-success" %>
      <h1 class="text-center">Create your own cocktail</h1>
      <div class=" input-section text-center">
      <%= render 'form' %>
    </div>
      <br>
</div>
