<div class="container-cocktails-new">
  <%= link_to 'Back', cocktails_path, class: " back btn btn-success" %>
  <h1 class="text-center">Create your own cocktail</h1>
  <div class="row">
    <div class="input-box col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-login">
        <%= render 'form' %>
      </div>

    </div>
  </div>
</div>
