<div class="container container-cocktails-new">
  <%= link_to 'Back', cocktails_path, class: "btn back-btn" %>
  <h1 class="text-center page-title" id="cocktail-new-title">Create your own cocktail</h1>
  <div class="new-cocktail-form mx-auto col-lg-6">
    <%= render 'form' %>
  </div>
</div>
