<div class="container-cocktails-new">
    <%= link_to 'Back', cocktails_path, class: " back btn btn-success" %>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
      <h1>New Cocktail</h1>
      <%= render 'form' %>
      <br>
    </div>
  </div>
</div>
