<div class="show-page">
  <div class="cocktail-show-banner">
    <h2>Cocktail</h2>
    <div class="sep"></div>
    <h1><%= @cocktail.name %></h1>
  </div>
  <div class="cocktail-section">
    <div class="cocktail-picture">
    </div>
    <div class="cocktail-description">
      <div class="ingredients"></div>
      <div class="recipe"></div>
    </div>
  </div>
</div>
