.ing-details {
  font-size: 24px;
  margin-left: 50px;
}


.ing-list {
  margin-top: 60px;
}


.ingredients {
  min-height: 80vh;
}

.select2 {
  width: 100% !important; // line mandatory to fix select2 responsive issue
}
