body {
     margin: 0;
     padding: 0;
}

.back {
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 10px;
}

.container-cocktails-new{
  height: 83vh;
}


.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  width: 80%;
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}


@media (min-width: 768px) {
  .col-sm-offset-3 {
    margin-left: 30%;
  }
}
