.back-btn {
  margin-top: 15px;
  margin-left: -100px;
  border-radius: 10px;
  padding: 10px;
}

.container-cocktails-new {
  min-height: calc(100vh - 140px);

}

#cocktail-new-title {
  margin-top: 0;
}


.new-cocktail-form {
  background: white;
  padding: 10px 20px;
  margin-top: 80px;
  border-radius: 3px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}
