body {
     margin: 0;
     padding: 0;
}

.back {
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 10px;
}

.container-cocktails-new{

  height: 80vh;
}

.content {
  margin: 0 auto;
  width: 500px;
}
