body {
     margin: 0;
     padding: 0;
}

.back {
  margin-top: 15px;
  margin-left: 15px;
  border-radius: 10px;
}

.cocktail-container {
  // height: calc(100vh - 150px);
  height: 80vh;
}

.ingredients-list {
  padding-top: 17px;
}

.ingredients-list li {
  padding-top: 5px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;

}

.far.fa-trash-alt {
  padding-left: 10px;
}

.items {
  display: flex;
  width: -webkit-fill-available;
}

.row {
  margin-left: 0px;
  margin-right: 0px;

}

.items-left {
  margin-left: 100px;
}

.dose {
  margin: 100px 150px;
}
