.show-page {
  min-height: calc(100vh - 140px);
}

.cocktail-show-banner {
  background: $charcoal;
  color: white;
  text-align: center;
  padding: 50px;

  h2 {
    font-family: $header-font;
    padding-bottom: 10px;
    font-size: 26px;
    letter-spacing: 0.1em;
    color: $red;
    text-shadow: rgba(0, 0, 0, 0.6) 4px 4px 8px,
      rgba(46, 64, 87, 1) -4px -4px 8px;
  }

  h1 {
    font-family: $body-font;
    font-size: 44px;
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-shadow: rgba(0, 0, 0, 1) 4px 4px 8px, rgba(46, 64, 87, 1) -4px -4px 8px;
  }
}

.cocktail-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.cocktail-description {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#ingredients-card {
  grid-row: 1 / span 4;
  grid-column: 1 / span 2;
  margin: 40px 0 15px -70px;
}

#recipe-card {
  grid-row: 4 / span 4;
  grid-column: 2 / span 2;
  z-index: 3;
}

.separator {
  border-top: 1px solid $charcoal;
}

.cocktail-picture img {
  margin: 20px 0 0 100px;
  border-radius: 3px;
  box-shadow: 0 19px 38px rgba(46, 64, 87, 0.3), 0 15px 12px rgba(46, 64, 87, 0.22);
}

.cocktail-description-card {
  background: $white;
  box-shadow: 12px 12px 16px 0 rgba(46, 64, 87, 0.4), -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
  padding: 40px;
  min-height: 400px;
  width: 450px;
  margin: 20px;
  border-radius: 3px;

  &:hover {
    box-shadow: 7px 7px 5px 0px rgba(46, 64, 87, 0.2);
    transform: translate(10px, 20px);
    z-index: 50;
    transition-delay: 0s;
    text-decoration: none;
    background: rgba(255, 255, 255, 1);
  }

  h2 {
    font-family: $header-font;
    color: $red;
    text-shadow: 2px 3px 1px rgba(46, 64, 87, 0.2);
    margin-left: 25px;
  }

}

.card-sep {
  --link-color: 46, 64, 87;
  height: 3px;
  background-image: linear-gradient(to right,
      transparent 0%,
      rgba(var(--link-color), 0.6) 30%,
      rgba(var(--link-color), 0.7) 50%,
      rgba(var(--link-color), 0.6) 70%,
      transparent 100%);
}

.cocktail-card-content {
  margin: 50px auto;
  width: fit-content;
}

.step-nbr {
  color: $red;
  font-family: $header-font;
  float: left;
  margin: 5px 10px 0px -40px;
  letter-spacing: 0.05em;
  text-shadow: 2px 3px 1px rgba(46, 64, 87, 0.2);
}

.dose-nbr {
  color: $red;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
}

.step-item {
  font-size: 20px;
  font-weight: 400;
}

.dose-item {
  font-size: 20px;
  font-weight: 500;
}

.card-delete {
  color: $red;
}

.ingredients-form {
  margin: 40px auto;

  h3 {
    font-size: 42px;
    color: $red;
    font-family: $header-font;
    text-align: center;
    margin: 40px auto;
    text-shadow: 2px 3px 1px rgba(46, 64, 87, 0.2);
  }
}
