<div class="footer_xela">
  <div class="footer-links">
    <a href="https://github.com/Xelaflash"  target="_blank"><i class="fab fa-github-alt"></i></a>
    <a href="https://twitter.com/GhostXela?lang=fr" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/alexandre-gros-46406b27/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> by
    <%= link_to 'alexgWebDev', "https://www.alexgwebdev.com/", target: "_blank", rel: "noopener noreferrer", id: "portfolio-link" %>
  </div>
</div>
