/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  text-align: center;
  color: white;
  margin: 0;
  padding: 15px;
  width: 100%;
  border: none;
  z-index: 9;
  border-radius: 0;
}

.alert-dismissible .close {
  color: white;
  opacity: 0.8;
}

.alert-info {
  background: $green;
  color: white;
  font-size: 16px;
}

.alert-warning {
  background: $red;
  font-size: 16px;
  color: white;
}

.alert-danger {
  background: $red;
  font-size: 16px;
  color: white;
}

// simple form error notif
.has-error .help-block {
  color: $red;
}
