/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  text-align: center;
  color: white;
  margin-bottom: 0;
  width: 100%;
  height: 71px;
  border: none;
  z-index: 9;
  box-shadow: 0 -3px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.alert-info {
  background: $green;
  color: white;
  font-size: 20px;
}

.alert-warning {
  background: $red;
  font-size: 20px;
  color: white;
}
