.cocktail-index {
  min-height: calc(100vh - 140px);
  padding-top: 50px
}

.card {
  height: 250px;

  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  border: none;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-transform: capitalize;
}

.card-description h2 {
  font-size: 24px;
  font-family: $body-font;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.8);
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: $charcoal;
  opacity: 0;
}

.card-link:hover {
  opacity: 0.1;
}
