/* footer wagon */
.footer_xela {
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 10px 25px;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.2), 0 1px 0 0 rgba(0, 0, 0, 0.2);
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer_xela .fa-heart {
  color: #D23333;
}

.footer-copyright {
  font-size: 15px;
}

#portfolio-link {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

/* fin footer */
