  .form-group {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .control-label {
    margin-bottom: 10px;
  }

  #new_cocktail {
    width: 100%;
  }

  textarea.form-control {
    height: 100px;
  }
