  .form-group {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .control-label {
    margin-bottom: 10px;
  }

#new_cocktail {
  width: 100%;
}

#cocktail_picture {
  margin: 0 auto;
  padding-top: 10px;
  input {
    margin-right: 20px;
  }
}
