.navbar-wagon {
  box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.2), 0 1px 5px 0px rgba(0, 0, 0, 0.2);
  z-index: 10000;
  background: white;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;

  h1 {
    font-family: $headers-font;
    margin: 0;
  }

  --link-color: 15,
  28,
  112;
}

/* Logo */
.navbar-wagon-brand img {
  height: 60px;
}


/* Basic navbar item */
.navbar-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.navbar-link {
  position: relative;
  display: inline-block;
  color: $dark-gray;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
}

.navbar-link:hover {
  color: rgb(var(--link-color));
  text-decoration: none;
}

.navbar-link:hover::after {
  content: "";
  display: block;
  position: absolute;
  left: 2px;
  width: 100%;
  /* Adjust height and bottom values to work with selected font */
  height: 2px;
  bottom: -8px;

  /* Create gradient */
  background-image: linear-gradient(to right,
      transparent 0%,
      rgba(var(--link-color), .6) 30%,
      rgba(var(--link-color), .7) 50%,
      rgba(var(--link-color), .6) 70%,
      transparent 100%);
  /* Set-up fade-in animation */
  opacity: 0;
  animation: fadeIn 400ms ease-out forwards;
}

/* Fade-in animation */
@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.bouton-custom {
  color: #000000;
  padding: 10px 22px;
  border-radius: 20px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
  margin-right: 15px;
}


.bouton-custom:hover {
  opacity: 0.9;
  background: #3ac162;
  text-decoration: none;
  color: white;
}
