.log-page {
  min-height: calc(100vh - 140px);
}

.log-page.register {
  .form-login {
    margin: 50px 0;
  }
}

.log-page.edit-account {
  .form-login {
    margin: 80px 0 50px;
  }
}

.log-page {
  .form-login {
    margin: 80px 0 50px;
  }
}

.form-login {
  background: white;
  padding: 10px 20px;
  margin: 40px 0;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }

  .btn {
    width: 100%;
    margin-bottom: 20px;
    background: $green;
    border: none;
  }

  #user_remember_me {
    margin-right: 5px;
  }

  label {
    font-size: 22px;
    margin-bottom: 5px;
  }

  .form-control {
    font-size: 13px;
  }
}

.devise-links:hover {
  opacity: 0.4;
}

@media(max-width: 568px) {
  .form-login {
    margin: 40px 0 40px 0;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 2) {
  .form-login {
    margin: 40px 0 40px 0;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .form-login {
    margin: 100px 0 40px 0;
  }
}
