// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap"; // picks it up in node_modules!
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";


// utilities classes
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $body-font;
  color: $charcoal;
  background-color: $bg;
  background-image: url('brick-wall.png');
}

h1 {
  font-family: $main-title-font;
}

.page-title {
  font-size: 3rem;
  margin-top: 40px;
}

.btn {
  background: $green;
  border: none;
  color: white;
}

.btn:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
}

.btn-devise {
  width: 100%;
  margin-bottom: 10px;
}

.help-block {
  font-size: 14px;
  padding-top: 10px;
  font-weight: 500;
  padding-left: 5px;
}
